language: php

env:
  global:
    - setup=stable

matrix:
  fast_finish: true
  include:
    - php: 7.1
    - php: 7.2

sudo: false

before_install:
  - phpenv config-rm xdebug.ini || true
  - travis_retry composer self-update

install:
  - cp .env.example .env
  - composer install --prefer-source --no-interaction --dev

before_script:
  - php artisan key:generate

script: vendor/bin/phpunit --verbose