
// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito|Merriweather:300,400,700");
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-family-serif: "Merriweather", serif;
$fa-font-path: "../fonts" !default;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color Palette
$color-text-default: rgb(195,211,222);
$color-accent: rgba(67, 72, 87, .5);
$color-border: rgba(67, 72, 87, 1);
$color-background: rgb(38, 50, 56);
$green: rgb(195,232,141);
$blue: rgb(130,170,255);
$red: rgb(247,140,108);
$light-grey: #9ba3aa;
$orange: #f6993f;
$indigo: #6574cd;
$dark-grey: #444;
$yellow: #ffed4a;
$purple: #9561e2;
$pink: #f66D9b;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Base
@import "base";

body {
  background-color: $color-background;
  color: $color-text-default;
}

a.nav-link {
  color: $color-text-default !important;
}

a.nav-link:hover {
  color: $color-text-default !important;
}

a:hover,
a.text-primary:hover {
  color: rgba(130,170,255, .5) !important;
}

blockquote {
  border-left: 4px solid $color-border !important;

  span {
    color: $color-text-default !important;
  }
}

.btn-outline-primary:hover,
.btn-primary:hover,
.btn-danger:hover {
  color: $color-background !important;
}

.border-bottom {
  border-bottom: 1px solid $color-border !important;
}

.border-top {
  border-top: 1px solid $color-border !important;
}

.card {
  background: transparent;
  border: 1px solid $color-border;
}

.custom-select {
  background-color: transparent !important;
  color: $color-text-default !important;
}

.dropdown-menu {
  background-color: $color-background !important;
  border: 1px solid $color-border !important;
}

.dropdown-menu a {
  color: $color-text-default !important;
}

.dropdown-menu a:hover {
  color: $color-background !important;
  background-color: $color-text-default;
}

.dropdown-divider {
  border-top: 1px solid $color-border !important;
}

div.controls {
  background-color: $color-background !important;
}

input, textarea {
  background: transparent !important;
  color: $color-text-default !important;
}

.line-chart {
  line.line-horizontal,
  line.line-vertical {
    stroke: $color-border !important;
  }
}

.logo i {
  font-size: 20px;
  color: $color-text-default;
}

.modal-content {
  background-color: $color-background !important;
  border: 1px solid $color-border !important;
}

.modal-footer {
  border-top: 1px solid $color-border !important;
}

.multiselect__content-wrapper {
  background-color: $color-background !important;
  border: 1px solid $color-border !important;
}

.multiselect__element {
  color: $color-text-default !important;
}

.multiselect__option--selected, .multiselect__option--selected::after {
  color: $color-background !important;
  background-color: $color-text-default !important;
}

.multiselect__single {
  background: none !important;
  color: $color-text-default !important;
}

.multiselect__tags {
  background: none !important;
}

.ql-editor {
  color: $color-text-default !important;

  .bg-white {
    background-color: transparent !important;
  }

  hr {
    color: $color-border !important;
  }
}

.ql-editor.ql-blank::before {
  color: #59616A !important;
}

#sidebar-controls {
  .controls {
    button {
      i {
        color: rgb(108,117,125) !important;
      }
    }

    button:hover {
      i {
        color: rgb(108,117,125) !important;
      }
    }
  }
}

select.input {
  color: $color-text-default !important;
}

text {
  fill: $color-text-default !important;
}
