
// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito|Merriweather:300,400,700");
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-family-serif: "Merriweather", serif;
$fa-font-path: "../fonts" !default;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color Palette
$light-grey: #9ba3aa;
$indigo: #6574cd;
$purple: #9561e2;
$orange: #f6993f;
$dark-grey: #444;
$yellow: #ffed4a;
$green: #38c172;
$blue: #3490dc;
$pink: #f66D9b;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$red: #e3342f;

// Base
@import "base";

.logo i {
  font-size: 20px;
  color: rgb(33, 37, 41) !important;
}
