body {
  -webkit-font-smoothing: antialiased;
}

.fill-white {fill: $white;}
.fill-muted {fill: $muted;}
.fill-danger {fill: $danger;}
.fill-success {fill: $success;}
.fill-warning {fill: $warning;}
.fill-primary {fill: $primary;}