$body-bg: #ebebeb;
$font-family-sans-serif: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-size-base: 0.90rem;

$info: #8eb4cb;
$white: #ffffff;
$muted: #868e96;
$danger: #bf5329;
$success: #2ab27b;
$warning: #cbb956;
$primary: #3097D1;

$facebook-brand: #3b5998;
$twitter-brand: #00aced;
$google-brand: #dd4b39;
$github-brand: #000000;

$card-border-width: 0;
$card-inner-border-radius: 5px;
$card-cap-bg: #fff;
$card-bg: #fafafa;

$input-box-shadow: 0;
$input-btn-focus-box-shadow: 0;
