
// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom Bootstrap components
@import "custom/global";
@import "custom/type-custom";
@import "custom/alerts-custom";
@import "custom/buttons-custom";
@import "custom/nav-heading";
@import "custom/nav-bordered";
@import "custom/navbar-utilities";
@import "custom/navs-custom";
@import "custom/list-group-custom";
@import "custom/modals-custom";
@import "custom/tables-custom";
@import "custom/container-custom";

// Custom theme components
@import "custom/utilities-spacer";
@import "custom/type-custom";
@import "custom/flex-table";
@import "custom/text-inherit";
@import "custom/datepicker";
@import "custom/tablesorter";
@import "custom/nav-toggler";
@import "custom/statlist";
@import "custom/statcard";
@import "custom/graphs";
@import "custom/divider";
@import "custom/input-icon";
@import "custom/sidebar";
@import "custom/iconav";
@import "custom/dashhead";
@import "custom/buttons-radius";
